@model PilatesPlus.Models.EquipmentDetail
<style>
    h3 {
        color: red;
    }
</style>
@{
    ViewBag.Title = "Delete";
}

<h2>DeleteEquipment</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EquipmentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentSessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentSessionId)
        </dd>

        

        

        <dt>
            @Html.DisplayNameFor(model => model.Reformer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reformer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cadilac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cadilac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LadderBarrel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LadderBarrel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PediPole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PediPole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MagicCircle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MagicCircle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallBarrel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallBarrel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToeExerciser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToeExerciser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmChair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmChair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpineCorrector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpineCorrector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WundaChair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WundaChair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentSessionModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentSessionModifiedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
