@model IEnumerable<PilatesPlus.Models.SessionListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDuet)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.SessionId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDuet)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SessionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SessionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SessionId })
            </td>
        </tr>
    }

</table>
