@model IEnumerable<PilatesPlus.Models.ClientSessionListItem>

@{
    ViewBag.Title = "ClientSessions";
}

<h2>Client Sessions</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Session")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDuet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionDateModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDuet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionDateModified)
        </td>
        <td>

            @Html.ActionLink("CSEquipmentDetails", "CSEquipmentDetails", new { id = item.SessionId }) |
            @Html.ActionLink("Back to List", "Index")
        </td>
    </tr>
}

</table>
